# Byte-compiled / optimized
__pycache__
*.py[cod]

# VS code
.vscode
*.code-workspace

# Virtual Environment
venv
venv-test
venv-dev

# Debugging Logs
*.log

# Testing trace
*.pcap

# Help folder
help

# Miscelaneous folder
misc
__misc__

# PostgreSQL data
hss_app/postgres/database
*.sql

# Application logs
logs

# macOS files
.DS_Store

# Git misc
.gitattributes

# Redis data
cache
*.rdb